extends layout

block scripts
  script(src="/jquery/jquery.js")   
  script(src="/socket.io/socket.io.js")

  script.
      var socket = io();

      $(document).ready(function(){
        $("#startButton").click(function(){
          socket.emit('message',{msg: "hello"});
        });
      });

block content  

  div.clearfix
    div.pull-left
      i.fa.fa-lg.fa-pie-chart
      span Simple Bot Control Panel
    div.pull-right    
      strong(style="margin: 0px 10px;") #{user}
      a(href="/logout") Logout
  br
  div.jumbotron
    h1.text-center Bot Control



    input#startButton(type="button", value="Start Bot")
